<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast order</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0; width: 600px;">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 20px 0; padding: 0;">
                <tr>
                    <td colspan="2" style="padding-bottom: 15px; color: #19679A; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">Здравейте, <strong>#{firstName} #{lastName}</strong>,</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 5px; color: #19679A; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">Вашата поръчка беше приета успешно.</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 5px; color: #19679A; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">Наш куриер ще ви посети на <strong>#{date}</strong>, в интервала:&nbsp;<strong>#{from} ч.</strong> - <strong>#{to} ч.</strong> <br> на адрес:&nbsp;<strong>#{address}</strong>,<br/>за да я вземе и опише, съобразно вашите препоръки <strong>#{additionalInfo}</strong>.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 15px; color: #19679A; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">Ако имаме въпроси към Вас, ще ви потърсим на: <strong>#{phone}</strong></td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 5px; padding-top: 15px; color: #19679A; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">Лек и успешен ден!</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 20px 0; padding: 0;">
                <tr>
                    <td valign="top" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 7px; border-top: 0; border-bottom: 0; border-left: 0; border-right:3px  solid #19679A">
                        <img style="width: 200px;" id="preview-image-url" src="../assets/donart-logo.png">
                    </td>
                    <td style="padding-top: 0; padding-bottom: 0; padding-left: 12px; padding-right: 0;">
                        <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
                            <tr>
                                <td colspan="2" style="padding-bottom: 5px; color: #19679A; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Химическо Чистене и Боядисване</td>
                            </tr>
                            <tr>
                                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #19679A; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">тел:</td>
                                <td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">0878 96 96 30</td>
                            </tr>
                            <tr>
                                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #19679A; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">website:</td>
                                <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                    <a href="http://www.donart.bg" target="_blank" style=" color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">www.donart.bg</a>&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #19679A; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">email:</td>
                                <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                    <a href="mailto:info@donart.bg" style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">info@donart.bg</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

</body>
</html>